<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
            <div class="page-header">
                <h3>Register</h3>
            </div>
			<form class="form-horizontal" action='/user/create' method="POST" id="SignUpForm">
				<div class="form-group">
					<!-- UserName -->
					<div class="col-sm-5">
						<div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-user"></i></span>
							<input type="text" id="name" name="name" placeholder="Insert your Name" class="form-control">
						</div>
					</div>
				</div>

			 	<div class="form-group">
				    <!-- E-mail -->
				    <div class="col-sm-5">
				    	<div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-at"></i></span>
							<input type="email" id="email" name="email" placeholder="Your email name@domain" class="form-control">
				        </div>
				    </div>
				</div>
			 
			    <div class="form-group">
					<!-- Password-->
				    <div class="col-sm-5">
				    	<div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-key"></i></span>
					        <input type="password" id="encrypPassword" name="encrypPassword" placeholder="Password" class="form-control">
						</div>
				    </div>
			 	</div>

			 	<div class="form-group">
				    <!-- Password -->
				    <div class="col-sm-5">
				    	<div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-key"></i></span>
							<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Your Password" class="form-control" >
				    	</div>
				    </div>
			 	</div>

			    <div class="form-group">
			      <!-- Button -->
			      <div class="col-sm-5">
			        <button type="submit" class="btn btn-success">Register</button>
			        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			      </div>
			    </div>
			</form>
		</div>
	</div>
</div>


	